body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:40px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    color:#8b5cf6;
}

input{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:8px;
}

button{
    margin-top:20px;
    padding:12px 20px;
    background:#7c3aed;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

pre{
    background:#111827;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
    overflow:auto;
}